src/main/resources/wsdl/person.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://contractfirst.soap.formazione.example.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://contractfirst.soap.formazione.example.org">

    <!-- Type definitions for input- and output parameters for webservice -->
    <wsdl:types>
        <xs:schema targetNamespace="http://contractfirst.soap.formazione.example.org">
            <xs:element type="xs:string" name="resultCode" />
            <xs:element name="inputPerson" type="tns:inputPerson"/>
            <xs:complexType name="inputPerson">
                <xs:sequence>
                    <xs:element type="xs:string" name="firstName" />
                    <xs:element type="xs:string" name="lastName" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <!-- Message definitions for input and output -->
    <wsdl:message name="inputPerson">
        <wsdl:part name="parameters" element="tns:inputPerson" />
    </wsdl:message>
    <wsdl:message name="personResult">
        <wsdl:part name="resultCode" element="tns:resultCode" />
    </wsdl:message>

    <!-- Port (interface) definitions -->
    <wsdl:portType name="PersonEndpoint">
        <wsdl:operation name="person">
            <wsdl:input message="tns:inputPerson" />
            <wsdl:output message="tns:personResult" />
        </wsdl:operation>
    </wsdl:portType>

    <!-- Port bindings to transports and encoding - HTTP, document literal encoding is used -->
    <wsdl:binding name="PersonBinding" type="tns:PersonEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="person">
            <soap:operation soapAction="http://contractfirst.soap.formazione.example.org/Person" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service definition -->
    <wsdl:service name="PersonEndpointService">
        <wsdl:port name="PersonService" binding="tns:PersonBinding">
            <soap:address location="http://localhost:9101/person" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
